// Mixins in here
.button(@color, @padding, @radius) {
	background: darken(@color, 10%);
	color: @white;
	font-size: 1.4rem;
	text-align: center;
	font-weight: bold;
	padding: @padding/2 0;
	border-radius: @radius;


}