// Navigation Styles here
nav {
	border-bottom: 2px dashed @navigation-border;
	display: flex;
	justify-content: space-between;
	align-items: center;
	a {
		text-decoration: none;
		color: @font-color;
		font-size: 1.4rem;
	}
}